backend/target/
backend/.mvn/
*.class
*.iml
.idea/
.vscode/

frontend/node_modules/
frontend/dist/
frontend/.env

frontend/android/local.properties
frontend/android/.gradle/
frontend/android/build/
frontend/android/app/build/
frontend/android/capacitor-cordova-android-plugins/build/
frontend/android/*.iml
frontend/android/.idea/

.env
